@model Slider
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/BlogAdmin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Delete</h2>

<div class="container-fluid">
    <div class="widget-box">
        <div class="row" style="margin-left:10px">
            <div class="col-12">
                <h3>@Model.Title</h3>
                <p>@Model.Description</p>
                <img src="/@Model.Image.Remove(0, 8)" alt="Alternate Text" />
                <br />
                <br />
                <p class="text-danger">Are you sure delete this data?</p>
                <br />
            </div>
        </div>

        <div class="row" style="margin-left:10px">
            <div class="col-12">
                <form method="post">
                    <input type="submit" class="btn btn-danger" value="Delete" />
                </form>
            </div>
        </div>
        <div class="row" style="margin-left:10px">
            <div class="col-12">
                <hr />
                <a asp-action="Index"><i class="icon-arrow-left"></i> Go back</a>
            </div>
        </div>
        </div>
    </div>
